<html>

<head>
<title>Title</title>
</head>

<body>

<p>This site offers an interface for exploring a probabilistic topic model of Eleanor Roosevelt's <i>My Day</i> columns. The data was provided by George Washington University for Hack-to-Learn in 2017. The visualizations here showcase the top words in each topic, a distribution of the topics over time, a map of the locations where top documents in each topic were written, and a list of the top documents in each topic with a link to the original column. You can read more about the creation of the model and the meaning of each of these visualizations here.</p>



</body>
</html>
